<section>
  <h2 class="text-2xl">Achievements</h2>
  <div class="grid gap-6 px-6 sm:grid-cols-4">
    <div>
      <h3 class="my-6 text-center text-2xl font-bold text-sky-600">420</h3>
      <p class="text-xl font-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis,
        quam?
      </p>
    </div>
    <div>
      <h3 class="my-6 text-center text-2xl font-bold text-sky-600">1</h3>
      <p class="text-xl font-light">
        Adipisci impedit voluptatibus repudiandae placeat, itaque minima animi
        libero fugit?
      </p>
    </div>
    <div>
      <h3 class="my-6 text-center text-2xl font-bold text-sky-600">69</h3>
      <p class="text-xl font-light">
        Ad culpa architecto ea odit facilis quibusdam. Officiis, ducimus!
        Placeat!
      </p>
    </div>
    <div>
      <h3 class="my-6 text-center text-2xl font-bold text-sky-600">1000</h3>
      <p class="text-xl font-light">
        Possimus magni illo a sint vel ex veritatis fuga nam!
      </p>
    </div>
  </div>
</section>
