<section class="p-4" id="expertise">
  <h2 class="py-2 text-2xl">Expertise</h2>
  <div class="grid gap-2 sm:grid-cols-3">
    <div>
      <!-- prettier-ignore -->
      <h3 class="text-2xl font-semibold before:mr-5 before:content-['01']">Brand Identity</h3>
      <p class="ml-12 mt-2 sm:w-32">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius,
        consequuntur.
      </p>
    </div>
    <div>
      <!-- prettier-ignore -->
      <h3 class="text-2xl font-semibold before:mr-5 before:content-['02']">Web & App</h3>
      <p class="ml-12 mt-2 sm:w-32">
        A, sint neque. Commodi quisquam officia aliquid temporibus voluptatum
        corrupti!
      </p>
    </div>
    <div>
      <!-- prettier-ignore -->
      <h3 class="text-2xl font-semibold before:mr-5 before:content-['03']">Print Design</h3>
      <p class="ml-12 mt-2 sm:w-32">
        Explicabo optio odit modi quam pariatur officia quis dolore laudantium!
      </p>
    </div>
  </div>
</section>
