---
import { Image } from "astro:assets";
import logoImage from "../assets/logo.webp";
---

<header>
  <div class="flex justify-center">
    <Image class="h-full md:w-[50%]" src={logoImage} alt="JHBS Media Logo" />
  </div>
</header>
