<section class="p-4" id="">
  <h2 class="py-2 text-2xl">Skills</h2>
  <div class="grid gap-2 sm:grid-cols-3">
    <ul>
      <li>Brand Development</li>
      <li>Social Media</li>
      <li>Web & App</li>
      <li>Strategy & Insights</li>
      <li>Production</li>
      <li>Leadership</li>
      <li>Creative Direction</li>
      <li>Copywriting</li>
    </ul>
  </div>
</section>
