<section class="p-4" id="">
  <h2 class="py-2 text-2xl">Tools</h2>
  <div class="grid gap-2 sm:grid-cols-3">
    <ul>
      <li>Figma</li>
      <li>Adobe Creative Suite</li>
      <li>Monday.com</li>
      <li>Notion</li>
      <li>Asana</li>
      <li>Chat GPT</li>
      <li>Google Suite</li>
    </ul>
  </div>
</section>
