---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const works = await getCollection("works");
---

<section>
  <h2 class="text-2xl">My work</h2>
  <div class="flex flex-wrap gap-2">
    {
      works.map((work) => (
        <a href={`${import.meta.env.BASE_URL}/works/${work.id}`}>
          <Image
            class={`h-24 w-full pt-2`}
            src={work.data.cover}
            alt={work.data.coverAlt}
          />
        </a>
      ))
    }
  </div>
</section>
